{% import "bootstrap/wtf.html" as wtf %}
{% extends "bootstrap/base.html" %}
{% block title %} QLD Stoma Appliance Schedule Selector - {{ page_title }}{% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='qsasmallfavicon.png') }}">
{% endblock %}


{% block content %}
    <img src="{{url_for('static', filename='StomaLogo.png')}}" alt="QLD Stoma Association">

    <h1>{{ page_title }}</h1>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}
    <div>{% block page_content %}{% endblock %}
    </div>
<footer>Software provided by bpss. Version {{ version }}</footer>
{% endblock %}

