{% extends "layout.html" %}
{% block page_content %}
<h4>Group ID</h4>
<p>{{ product.GroupID }}</p>
<h4>SAS Code</h4>
<p>{{ product.SASCode }}</p>
<h4>Company Code</h4>
<p>{{ product.CompanyCode }}</p>
<h4>Brand Name</h4>
<p>{{ product.BrandName }}</p>
<h4>Product Description</h4>
<p>{{ product.ProductDescription }}</p>
<h4>Pack Size</h4>
<p>{{ product.PackSize }}</p>
<h4>Maximum Qty (Medicare Entitlement)</h4>
<p>{{ product.MaximumQty }}</p>
<h4>Pack Price</h4>
<p>{{ product.PackPrice }}</p>
<h4>Pack Premium</h4>
<p>{{ product.PackPremium }}</p>
<h4>Entitlement</h4>
<p>{{ pack_entitlement }}</p>
{% endblock %}
